{% extends 'base.html' %}



<!doctype html>
<html lang="en">

<head>
  <title>{% block title %} {% endblock %}</title>

</head>

<body>
  {% block body %}

  <script src="https://cdn.tiny.cloud/1/d5v4ye6k43aaxkhjp9np51kgmilrcln27mxbzgu6v8m613eh/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
  <textarea id="autocompleter-cardmenuitem" type="text" name="o" class='tiny-mce'></textarea>

  <script>

    // Add event listener on keypress
    var specialChars = JSON.parse("{{data|escapejs}}");
    tinymce.init({
      selector: 'textarea#autocompleter-cardmenuitem',
      init_instance_callback: function (editor) {
        editor.on('keypress', function (e) {
          // console.log(e.code);
          // autocompletor(trigger)
        });
      },
      height: 250,
      setup: function (editor) {
        var onAction = function (autocompleteApi, rng, value) {
          editor.selection.setRng(rng);
          editor.insertContent(value);
          autocompleteApi.hide();
          console.log(tinymce.dom)
        };

        console.log(tinymce.dom)

        // console.log(editor.id)
        // edit = editor.id
        // edit.addEventListener('keydown', (event) => {
        //   console.log(`key=${event.key},code=${event.code}`);

        // });
        var getMatchedChars = function (patter) {
          return specialChars.filter(function (char) {
            return char.text.indexOf(patter) !== -1;
          });
        };
          // function a1(trigger) {
              editor.ui.registry.addAutocompleter("triggera", {
                ch: "a",
                minChars: 0,
                columns: 1,
                onAction: onAction,
                fetch: function (patter) {
                  patter = `a${patter}`
                  return new tinymce.util.Promise(function (resolve) {
                    var results = getMatchedChars(patter).map(function (char) {
                      return {
                        type: 'cardmenuitem',
                        value: char.value,
                        label: char.text,
                        items: [
                          {
                            type: 'cardcontainer',
                            direction: 'vertical',
                            items: [
                              {
                                type: 'cardtext',
                                text: char.text,
                                name: 'char_name'
                              },
                              {
                                type: 'cardtext',
                                text: char.value
                              }
                            ]
                          }
                        ]
                      }
                    });
                    resolve(results);
                  });
                }
              });
          // }
          // function a1(trigger) {
              editor.ui.registry.addAutocompleter("triggerb", {
                ch: "b",
                minChars: 0,
                columns: 1,
                onAction: onAction,
                fetch: function (patter) {
                  patter = `b${patter}`
                  return new tinymce.util.Promise(function (resolve) {
                    var results = getMatchedChars(patter).map(function (char) {
                      return {
                        type: 'cardmenuitem',
                        value: char.value,
                        label: char.text,
                        items: [
                          {
                            type: 'cardcontainer',
                            direction: 'vertical',
                            items: [
                              {
                                type: 'cardtext',
                                text: char.text,
                                name: 'char_name'
                              },
                              {
                                type: 'cardtext',
                                text: char.value
                              }
                            ]
                          }
                        ]
                      }
                    });
                    resolve(results);
                  });
                }
              });

              editor.ui.registry.addAutocompleter("triggerc", {
                ch: "c",
                minChars: 0,
                columns: 1,
                onAction: onAction,
                fetch: function (patter) {
                  patter = `c${patter}`
                  return new tinymce.util.Promise(function (resolve) {
                    var results = getMatchedChars(patter).map(function (char) {
                      return {
                        type: 'cardmenuitem',
                        value: char.value,
                        label: char.text,
                        items: [
                          {
                            type: 'cardcontainer',
                            direction: 'vertical',
                            items: [
                              {
                                type: 'cardtext',
                                text: char.text,
                                name: 'char_name'
                              },
                              {
                                type: 'cardtext',
                                text: char.value
                              }
                            ]
                          }
                        ]
                      }
                    });
                    resolve(results);
                  });
                }
              });
              editor.ui.registry.addAutocompleter("triggerd", {
                ch: "d",
                minChars: 0,
                columns: 1,
                onAction: onAction,
                fetch: function (patter) {
                  patter = `d${patter}`
                  return new tinymce.util.Promise(function (resolve) {
                    var results = getMatchedChars(patter).map(function (char) {
                      return {
                        type: 'cardmenuitem',
                        value: char.value,
                        label: char.text,
                        items: [
                          {
                            type: 'cardcontainer',
                            direction: 'vertical',
                            items: [
                              {
                                type: 'cardtext',
                                text: char.text,
                                name: 'char_name'
                              },
                              {
                                type: 'cardtext',
                                text: char.value
                              }
                            ]
                          }
                        ]
                      }
                    });
                    resolve(results);
                  });
                }
              });
              editor.ui.registry.addAutocompleter("triggere", {
                ch: "e",
                minChars: 0,
                columns: 1,
                onAction: onAction,
                fetch: function (patter) {
                  patter = `e${patter}`
                  return new tinymce.util.Promise(function (resolve) {
                    var results = getMatchedChars(patter).map(function (char) {
                      return {
                        type: 'cardmenuitem',
                        value: char.value,
                        label: char.text,
                        items: [
                          {
                            type: 'cardcontainer',
                            direction: 'vertical',
                            items: [
                              {
                                type: 'cardtext',
                                text: char.text,
                                name: 'char_name'
                              },
                              {
                                type: 'cardtext',
                                text: char.value
                              }
                            ]
                          }
                        ]
                      }
                    });
                    resolve(results);
                  });
                }
              });
              editor.ui.registry.addAutocompleter("triggerf", {
                ch: "f",
                minChars: 0,
                columns: 1,
                onAction: onAction,
                fetch: function (patter) {
                  patter = `f${patter}`
                  return new tinymce.util.Promise(function (resolve) {
                    var results = getMatchedChars(patter).map(function (char) {
                      return {
                        type: 'cardmenuitem',
                        value: char.value,
                        label: char.text,
                        items: [
                          {
                            type: 'cardcontainer',
                            direction: 'vertical',
                            items: [
                              {
                                type: 'cardtext',
                                text: char.text,
                                name: 'char_name'
                              },
                              {
                                type: 'cardtext',
                                text: char.value
                              }
                            ]
                          }
                        ]
                      }
                    });
                    resolve(results);
                  });
                }
              });
              editor.ui.registry.addAutocompleter("triggerg", {
                ch: "g",
                minChars: 0,
                columns: 1,
                onAction: onAction,
                fetch: function (patter) {
                  patter = `g${patter}`
                  return new tinymce.util.Promise(function (resolve) {
                    var results = getMatchedChars(patter).map(function (char) {
                      return {
                        type: 'cardmenuitem',
                        value: char.value,
                        label: char.text,
                        items: [
                          {
                            type: 'cardcontainer',
                            direction: 'vertical',
                            items: [
                              {
                                type: 'cardtext',
                                text: char.text,
                                name: 'char_name'
                              },
                              {
                                type: 'cardtext',
                                text: char.value
                              }
                            ]
                          }
                        ]
                      }
                    });
                    resolve(results);
                  });
                }
              });
              editor.ui.registry.addAutocompleter("triggerh", {
                ch: "h",
                minChars: 0,
                columns: 1,
                onAction: onAction,
                fetch: function (patter) {
                  patter = `h${patter}`
                  return new tinymce.util.Promise(function (resolve) {
                    var results = getMatchedChars(patter).map(function (char) {
                      return {
                        type: 'cardmenuitem',
                        value: char.value,
                        label: char.text,
                        items: [
                          {
                            type: 'cardcontainer',
                            direction: 'vertical',
                            items: [
                              {
                                type: 'cardtext',
                                text: char.text,
                                name: 'char_name'
                              },
                              {
                                type: 'cardtext',
                                text: char.value
                              }
                            ]
                          }
                        ]
                      }
                    });
                    resolve(results);
                  });
                }
              });
              editor.ui.registry.addAutocompleter("triggeri", {
                ch: "i",
                minChars: 0,
                columns: 1,
                onAction: onAction,
                fetch: function (patter) {
                  patter = `i${patter}`
                  return new tinymce.util.Promise(function (resolve) {
                    var results = getMatchedChars(patter).map(function (char) {
                      return {
                        type: 'cardmenuitem',
                        value: char.value,
                        label: char.text,
                        items: [
                          {
                            type: 'cardcontainer',
                            direction: 'vertical',
                            items: [
                              {
                                type: 'cardtext',
                                text: char.text,
                                name: 'char_name'
                              },
                              {
                                type: 'cardtext',
                                text: char.value
                              }
                            ]
                          }
                        ]
                      }
                    });
                    resolve(results);
                  });
                }
              });
              editor.ui.registry.addAutocompleter("triggerj", {
                ch: "j",
                minChars: 0,
                columns: 1,
                onAction: onAction,
                fetch: function (patter) {
                  patter = `j${patter}`
                  return new tinymce.util.Promise(function (resolve) {
                    var results = getMatchedChars(patter).map(function (char) {
                      return {
                        type: 'cardmenuitem',
                        value: char.value,
                        label: char.text,
                        items: [
                          {
                            type: 'cardcontainer',
                            direction: 'vertical',
                            items: [
                              {
                                type: 'cardtext',
                                text: char.text,
                                name: 'char_name'
                              },
                              {
                                type: 'cardtext',
                                text: char.value
                              }
                            ]
                          }
                        ]
                      }
                    });
                    resolve(results);
                  });
                }
              });
              editor.ui.registry.addAutocompleter("triggerk", {
                ch: "k",
                minChars: 0,
                columns: 1,
                onAction: onAction,
                fetch: function (patter) {
                  patter = `k${patter}`
                  return new tinymce.util.Promise(function (resolve) {
                    var results = getMatchedChars(patter).map(function (char) {
                      return {
                        type: 'cardmenuitem',
                        value: char.value,
                        label: char.text,
                        items: [
                          {
                            type: 'cardcontainer',
                            direction: 'vertical',
                            items: [
                              {
                                type: 'cardtext',
                                text: char.text,
                                name: 'char_name'
                              },
                              {
                                type: 'cardtext',
                                text: char.value
                              }
                            ]
                          }
                        ]
                      }
                    });
                    resolve(results);
                  });
                }
              });
              editor.ui.registry.addAutocompleter("triggerl", {
                ch: "l",
                minChars: 0,
                columns: 1,
                onAction: onAction,
                fetch: function (patter) {
                  patter = `l${patter}`
                  return new tinymce.util.Promise(function (resolve) {
                    var results = getMatchedChars(patter).map(function (char) {
                      return {
                        type: 'cardmenuitem',
                        value: char.value,
                        label: char.text,
                        items: [
                          {
                            type: 'cardcontainer',
                            direction: 'vertical',
                            items: [
                              {
                                type: 'cardtext',
                                text: char.text,
                                name: 'char_name'
                              },
                              {
                                type: 'cardtext',
                                text: char.value
                              }
                            ]
                          }
                        ]
                      }
                    });
                    resolve(results);
                  });
                }
              });
              editor.ui.registry.addAutocompleter("triggerm", {
                ch: "m",
                minChars: 0,
                columns: 1,
                onAction: onAction,
                fetch: function (patter) {
                  patter = `m${patter}`
                  return new tinymce.util.Promise(function (resolve) {
                    var results = getMatchedChars(patter).map(function (char) {
                      return {
                        type: 'cardmenuitem',
                        value: char.value,
                        label: char.text,
                        items: [
                          {
                            type: 'cardcontainer',
                            direction: 'vertical',
                            items: [
                              {
                                type: 'cardtext',
                                text: char.text,
                                name: 'char_name'
                              },
                              {
                                type: 'cardtext',
                                text: char.value
                              }
                            ]
                          }
                        ]
                      }
                    });
                    resolve(results);
                  });
                }
              });
              editor.ui.registry.addAutocompleter("triggern", {
                ch: "n",
                minChars: 0,
                columns: 1,
                onAction: onAction,
                fetch: function (patter) {
                  patter = `n${patter}`
                  return new tinymce.util.Promise(function (resolve) {
                    var results = getMatchedChars(patter).map(function (char) {
                      return {
                        type: 'cardmenuitem',
                        value: char.value,
                        label: char.text,
                        items: [
                          {
                            type: 'cardcontainer',
                            direction: 'vertical',
                            items: [
                              {
                                type: 'cardtext',
                                text: char.text,
                                name: 'char_name'
                              },
                              {
                                type: 'cardtext',
                                text: char.value
                              }
                            ]
                          }
                        ]
                      }
                    });
                    resolve(results);
                  });
                }
              });
              editor.ui.registry.addAutocompleter("triggero", {
                ch: "o",
                minChars: 0,
                columns: 1,
                onAction: onAction,
                fetch: function (patter) {
                  patter = `o${patter}`
                  return new tinymce.util.Promise(function (resolve) {
                    var results = getMatchedChars(patter).map(function (char) {
                      return {
                        type: 'cardmenuitem',
                        value: char.value,
                        label: char.text,
                        items: [
                          {
                            type: 'cardcontainer',
                            direction: 'vertical',
                            items: [
                              {
                                type: 'cardtext',
                                text: char.text,
                                name: 'char_name'
                              },
                              {
                                type: 'cardtext',
                                text: char.value
                              }
                            ]
                          }
                        ]
                      }
                    });
                    resolve(results);
                  });
                }
              });
              editor.ui.registry.addAutocompleter("triggerp", {
                ch: "p",
                minChars: 0,
                columns: 1,
                onAction: onAction,
                fetch: function (patter) {
                  patter = `p${patter}`
                  return new tinymce.util.Promise(function (resolve) {
                    var results = getMatchedChars(patter).map(function (char) {
                      return {
                        type: 'cardmenuitem',
                        value: char.value,
                        label: char.text,
                        items: [
                          {
                            type: 'cardcontainer',
                            direction: 'vertical',
                            items: [
                              {
                                type: 'cardtext',
                                text: char.text,
                                name: 'char_name'
                              },
                              {
                                type: 'cardtext',
                                text: char.value
                              }
                            ]
                          }
                        ]
                      }
                    });
                    resolve(results);
                  });
                }
              });
              editor.ui.registry.addAutocompleter("triggerq", {
                ch: "q",
                minChars: 0,
                columns: 1,
                onAction: onAction,
                fetch: function (patter) {
                  patter = `q${patter}`
                  return new tinymce.util.Promise(function (resolve) {
                    var results = getMatchedChars(patter).map(function (char) {
                      return {
                        type: 'cardmenuitem',
                        value: char.value,
                        label: char.text,
                        items: [
                          {
                            type: 'cardcontainer',
                            direction: 'vertical',
                            items: [
                              {
                                type: 'cardtext',
                                text: char.text,
                                name: 'char_name'
                              },
                              {
                                type: 'cardtext',
                                text: char.value
                              }
                            ]
                          }
                        ]
                      }
                    });
                    resolve(results);
                  });
                }
              });
              editor.ui.registry.addAutocompleter("triggerr", {
                ch: "r",
                minChars: 0,
                columns: 1,
                onAction: onAction,
                fetch: function (patter) {
                  patter = `r${patter}`
                  return new tinymce.util.Promise(function (resolve) {
                    var results = getMatchedChars(patter).map(function (char) {
                      return {
                        type: 'cardmenuitem',
                        value: char.value,
                        label: char.text,
                        items: [
                          {
                            type: 'cardcontainer',
                            direction: 'vertical',
                            items: [
                              {
                                type: 'cardtext',
                                text: char.text,
                                name: 'char_name'
                              },
                              {
                                type: 'cardtext',
                                text: char.value
                              }
                            ]
                          }
                        ]
                      }
                    });
                    resolve(results);
                  });
                }
              });
              editor.ui.registry.addAutocompleter("triggers", {
                ch: "s",
                minChars: 0,
                columns: 1,
                onAction: onAction,
                fetch: function (patter) {
                  patter = `s${patter}`
                  return new tinymce.util.Promise(function (resolve) {
                    var results = getMatchedChars(patter).map(function (char) {
                      return {
                        type: 'cardmenuitem',
                        value: char.value,
                        label: char.text,
                        items: [
                          {
                            type: 'cardcontainer',
                            direction: 'vertical',
                            items: [
                              {
                                type: 'cardtext',
                                text: char.text,
                                name: 'char_name'
                              },
                              {
                                type: 'cardtext',
                                text: char.value
                              }
                            ]
                          }
                        ]
                      }
                    });
                    resolve(results);
                  });
                }
              });
              editor.ui.registry.addAutocompleter("triggert", {
                ch: "t",
                minChars: 0,
                columns: 1,
                onAction: onAction,
                fetch: function (patter) {
                  patter = `t${patter}`
                  return new tinymce.util.Promise(function (resolve) {
                    var results = getMatchedChars(patter).map(function (char) {
                      return {
                        type: 'cardmenuitem',
                        value: char.value,
                        label: char.text,
                        items: [
                          {
                            type: 'cardcontainer',
                            direction: 'vertical',
                            items: [
                              {
                                type: 'cardtext',
                                text: char.text,
                                name: 'char_name'
                              },
                              {
                                type: 'cardtext',
                                text: char.value
                              }
                            ]
                          }
                        ]
                      }
                    });
                    resolve(results);
                  });
                }
              });
              editor.ui.registry.addAutocompleter("triggeru", {
                ch: "u",
                minChars: 0,
                columns: 1,
                onAction: onAction,
                fetch: function (patter) {
                  patter = `u${patter}`
                  return new tinymce.util.Promise(function (resolve) {
                    var results = getMatchedChars(patter).map(function (char) {
                      return {
                        type: 'cardmenuitem',
                        value: char.value,
                        label: char.text,
                        items: [
                          {
                            type: 'cardcontainer',
                            direction: 'vertical',
                            items: [
                              {
                                type: 'cardtext',
                                text: char.text,
                                name: 'char_name'
                              },
                              {
                                type: 'cardtext',
                                text: char.value
                              }
                            ]
                          }
                        ]
                      }
                    });
                    resolve(results);
                  });
                }
              });
              editor.ui.registry.addAutocompleter("triggerv", {
                ch: "v",
                minChars: 0,
                columns: 1,
                onAction: onAction,
                fetch: function (patter) {
                  patter = `v${patter}`
                  return new tinymce.util.Promise(function (resolve) {
                    var results = getMatchedChars(patter).map(function (char) {
                      return {
                        type: 'cardmenuitem',
                        value: char.value,
                        label: char.text,
                        items: [
                          {
                            type: 'cardcontainer',
                            direction: 'vertical',
                            items: [
                              {
                                type: 'cardtext',
                                text: char.text,
                                name: 'char_name'
                              },
                              {
                                type: 'cardtext',
                                text: char.value
                              }
                            ]
                          }
                        ]
                      }
                    });
                    resolve(results);
                  });
                }
              });
              editor.ui.registry.addAutocompleter("triggerw", {
                ch: "w",
                minChars: 0,
                columns: 1,
                onAction: onAction,
                fetch: function (patter) {
                  patter = `w${patter}`
                  return new tinymce.util.Promise(function (resolve) {
                    var results = getMatchedChars(patter).map(function (char) {
                      return {
                        type: 'cardmenuitem',
                        value: char.value,
                        label: char.text,
                        items: [
                          {
                            type: 'cardcontainer',
                            direction: 'vertical',
                            items: [
                              {
                                type: 'cardtext',
                                text: char.text,
                                name: 'char_name'
                              },
                              {
                                type: 'cardtext',
                                text: char.value
                              }
                            ]
                          }
                        ]
                      }
                    });
                    resolve(results);
                  });
                }
              });
              editor.ui.registry.addAutocompleter("triggerx", {
                ch: "x",
                minChars: 0,
                columns: 1,
                onAction: onAction,
                fetch: function (patter) {
                  patter = `x${patter}`
                  return new tinymce.util.Promise(function (resolve) {
                    var results = getMatchedChars(patter).map(function (char) {
                      return {
                        type: 'cardmenuitem',
                        value: char.value,
                        label: char.text,
                        items: [
                          {
                            type: 'cardcontainer',
                            direction: 'vertical',
                            items: [
                              {
                                type: 'cardtext',
                                text: char.text,
                                name: 'char_name'
                              },
                              {
                                type: 'cardtext',
                                text: char.value
                              }
                            ]
                          }
                        ]
                      }
                    });
                    resolve(results);
                  });
                }
              });
              editor.ui.registry.addAutocompleter("triggery", {
                ch: "y",
                minChars: 0,
                columns: 1,
                onAction: onAction,
                fetch: function (patter) {
                  patter = `y${patter}`
                  return new tinymce.util.Promise(function (resolve) {
                    var results = getMatchedChars(patter).map(function (char) {
                      return {
                        type: 'cardmenuitem',
                        value: char.value,
                        label: char.text,
                        items: [
                          {
                            type: 'cardcontainer',
                            direction: 'vertical',
                            items: [
                              {
                                type: 'cardtext',
                                text: char.text,
                                name: 'char_name'
                              },
                              {
                                type: 'cardtext',
                                text: char.value
                              }
                            ]
                          }
                        ]
                      }
                    });
                    resolve(results);
                  });
                }
              });
              editor.ui.registry.addAutocompleter("triggerz", {
                ch: "z",
                minChars: 0,
                columns: 1,
                onAction: onAction,
                fetch: function (patter) {
                  patter = `z${patter}`
                  return new tinymce.util.Promise(function (resolve) {
                    var results = getMatchedChars(patter).map(function (char) {
                      return {
                        type: 'cardmenuitem',
                        value: char.value,
                        label: char.text,
                        items: [
                          {
                            type: 'cardcontainer',
                            direction: 'vertical',
                            items: [
                              {
                                type: 'cardtext',
                                text: char.text,
                                name: 'char_name'
                              },
                              {
                                type: 'cardtext',
                                text: char.value
                              }
                            ]
                          }
                        ]
                      }
                    });
                    resolve(results);
                  });
                }
              });
             
          // }s
        // console.log(trigger.value)

        editor.on('keypress', function (e) {
          let key = e.code.slice(3, 4).toLowerCase();
          console.log(key)
          // if (key === "a") {
          //   new autocomp(key)

          // }
          // if (key === "s") {
          //   new autocomp(key)

          // }
        });
        // ________
      }
    });


    // let textBox = document.getElementById(Setcontent);

  </script>


  </script>
  <input type="text" id="message">

  {% endblock %}

</body>

</html>