{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    
    
    {% endblock %}
</head>
<body>
    {% block body %} 
    
    <div class="container my-3">

    {% if usernameteaken == 1 %}
    {% else %}

      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Username is allready taken</strong> >{{ usernameteaken }}
      </div>
    {% endif %}




      
      <form action="/adduser" method="POST">
     {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="text" class="form-control" id="exampleInputEmail1" name="username">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Email</label>
          <input type="email" class="form-control" id="exampleInputPassword1" name="email">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Sign up</button>
        
        <!-- <div class="mb-3">
          <input type='checkbox' name='otptrue' id='l_box1'> otp login (if checked we wont check ur password) 
        </div> -->
      </form>
    <div class="mb-80">
      <a href="/login">Login></a>
    </div>
    </div>  
     
  {% endblock %}

</body>
</html>
